@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
	margin: 0;
	padding: 0;
}


	
	.banner {
		width: 100%;
		height: 400px;
		position:relative;
		justify-content: center;
		align-items: center;
		display: flex;
    

		background-image:url("images/plane.jpg");
		-webkit-background-size: cover;
		background-size: cover;
		background-position: left;
	}
    .content h1{
		padding-top: 30%;
			font-size: 70px;
			font-family: poppins;
			color: white;	
		}

		.main_bg{
			background-image: url(images/color.png);
			max-width: 1280px;
			height: 800px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
		}
		.form{
			width: 650px;
		}
		
		.form-text{
			text-align: center;
			margin: 0 0 40px 0;
		}
		.form-text h1 span img{
			margin: 0 10px;
		
		}
		.form-text h1{
			color: #fff;
			font-family: 'Akaya Telivigala', cursive;
			font-size: 40px;
			margin-bottom: 20px;
		}
		.form-text p{
			color: #fff;
			font-family: 'Akaya Telivigala', cursive;
			font-size: large;
		}
		
		.main-form div{
			margin: 10px 10px;
			width: 300px;
			display: inline-block;
		}
		.main-form div input {
			width: 100%;
			font-family: 'Akaya Telivigala', cursive;
			background: none;
			border: 1px solid #ffca00;;
			font-size: 20px;
			color: #fff;
			outline: none;
			padding: 3px 0 3px 10px;
			margin-top: 10px;
		}
		.main-form div select{
			width: 104%;
			font-family: 'Akaya Telivigala', cursive;
			background: none;
			border: 1px solid #ffca00;;
			font-size: 20px;
			color: #fff;
			outline: none;
			padding: 3px 0 3px 10px;
			margin-top: 10px;
		}
		.main-form div span{
			width: 100%;
			font-family: 'Akaya Telivigala', cursive;
			color: #fff;
			font-size: 25px;
		}
		
		#submit{
			width: 100%;
			text-align: center;
		}
		#submit input{
			font-family: 'Akaya Telivigala', cursive;
			width: 200px;
			background-color: rgb(246, 165, 43) !important;
			color: black !important;
			transition: all .3s;
		}
		#submit input:hover{
			font-family: 'Akaya Telivigala', cursive;
			width: 200px;
			background-color: black !important;
			color: #fff !important;
		}
		#submit input:active{
			font-size: 19px;
			background-color: rgb(46, 20, 5) !important;
			color: #fff !important;
		}
		
		
		@media screen and (max-width:710px) {
			.main-form{
				text-align: center;
			}
		}
		
		.row-items{
			display:grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, auto));
			grid-gap: 2rem;
			align-items: center;
			text-align: center;
			margin-top: 5rem;
		}
		.container-box{
			background:rgb(242, 247, 251);
			border: 1px solid white;
			padding: 50px 10px;
			border-radius: 4px;
			transition: all 1s ease 0s;
			cursor: pointer;
		}
		.container-img img{
			height: 95px;
			width: 95px;
			padding: 15px;
			background: var(--bg-color);
			box-shadow: 5px 10px 30px rgb(85, 85, 85 /20%);
			border-radius: 4px;
			margin-bottom: 15px;
			cursor: pointer;
		}
		.container-box h3{
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 8px;
			color: rgb(45, 44, 44);
		}
		.container-box p{
			font-size: 16px;
			color: rgb(48, 48, 48);
		}
		.container-box:hover{
			box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
			bottom: 1px solid transparent;
			transform: translateY(-3px);
			
		}
		.section{
			max-width: 1000px;
			margin: auto;
		}