
*{margin: 0px;
    padding: 0px;
box-sizing: border-box;
}
body{
font-family: sans-serif;
background: -webkit-linear-gradient(to left,white,white);
background: linear-gradient(to left,white,white);
}
.content h1{
    padding-top: -0.5%;
        font-size: 70px;
        font-family:"poppins",sans-serif;
        color:black;
        
    }
    .content p{
    
            font-size:100%;
            font-family: sans-serif;
            color:gray;
            
        }
.container{
    display: inline-block;
    justify-content: center;
    padding-left: 60px;
    margin: auto;
}
.title{
    font-family: sans-serif;
text-align: center;
font-size:14px;

}
.cards{
    width:300px;
    margin: 20px;
    overflow: hidden;
    display: inline-block;
    background-color: white;
    box-shadow: 0 0.1rem 0.1rem ;
    cursor:pointer;
    transition: 0.2s;
    border-radius: 0.5rem;

}

.cards:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 0.3rem 1rem ;
}
.image img{
    width: 100%;
}
.des p{
    text-align: justify;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 10px;
}
.card-btn{
   display:block;
   width:100%;
   padding: 1rem;
   font-size: 0.8rem;
   text-align: center;
   color: 3363ff;
   background-color: #d8e0fd;
   border:none;
   border-radius: 0.2rem;
   transition: 0.2s;
   cursor: pointer;
   letter-spacing: 0.1rem;
}
.card-btn span{
    margin-left: 1rem;
    transition: 0.2s;
}
.card-btn:hover,
.card-btn:active{
    background-color: #c2cffc;
}
.card-btn:hover span,
.card-btn:active span,{
    margin-left:1.5rem;


}
.section{
    margin: auto;
    max-width: 1000px;
}