*{
    margin:0px;
    padding:0px;

}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-color: #eee;
    font-family: sans-serif;
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
}
.content h1{
    padding-top:10%;
    font-size: 100px;
    font-family: "poppins";
    color:navy;
}
p{
    font-family: sans-serif;
}

.grid {
    display:grid;
    width:40rem;
    grid-gap:2rem;
    grid-template-columns:repeat(2fr,minmax(60rem,4fr));
    align-items: start;

}
.grid-item{
background-color: #fff;
border-radius: 1rem;
overflow: hidden;
box-shadow: 0 3rem 6rem rgba(0,0,0,0.1);
cursor: pointer;
transition: 0.2s;
}
.grid-item:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0,0,0,0.5);
}
.card-img{
    display: block;
    width:100%;
    height:30rem;
    object-fit: cover;
}
.card-content{
    padding: 4rem;
}
.card-header{
    font-size: 2rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}
.card-text{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}
.section1{
    font-size: 20px;
}

.section2{
    display: flex;
}
